/*project images*/
#aliviara {
	background-image: url(../images/projects/project-aliviara.png);
}
#ARTextbooks {
	background-image: url(../images/projects/project-ARTextbooks.png);
}
#calFit {
	background-image: url(../images/projects/project-calFit.png);
}
#clock {
	background-image: url(../images/projects/project-clock.png);
}
#easyDoesIt {
	background-image: url(../images/projects/project-easyDoesIt.png);
}
#infiniteMirror {
	background-image: url(../images/projects/project-infiniteMirror.png);
}
#ka {
	background-image: url(../images/projects/project-ka.png);
}
#pio {
	background-image: url(../images/projects/project-pio.png);
}
#xamarin {
	background-image: url(../images/projects/project-xamarin.png);
}
#zumy {
	background-image: url(../images/projects/project-zumy.png);
}
.container-image {
	width: 100%;
	height:100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.textbox {
	width: 100%;
	height:100%;
	display: none;
	padding: 10px;
}
.textbox h4 {
	font-size: 25px;
	font-style: bold;
	color: #000000;
}
.description {
	color: #000000;
	font-weight:300;
	font-size: 14px;
}
.appear {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
}
.top-gallery{
	max-width: 1023px;
	margin: auto;
}


@media(max-width:768px){
	.top-gallery{
		max-width: 682px;
	}
}
@media(max-width:480px){
	.top-gallery{
		max-width: 341px;
	}
}


.about{
	padding:60px 0 25px 0;
}
.about p{
	margin:20px 0 0 0;
	color:#888b90;
	font-size:24px;
	font-family: 'Lato', sans-serif;
	line-height:1.8em;
}
.about h3{
	margin:0;
	color:#2b2b2b;
	font-size:36px;
	font-weight:500;
	letter-spacing: 18px;
}
#abouttitle {
	color: black;
}
.address {
	position: absolute;
}
#backtotop {
	float: right;
	margin-right: 15px;
	margin-bottom: 20px;
	border: 1px #000000 solid;
	border-radius: 50%;
	padding: 5px;
	top: -50px;
}
.banner{
	z-index: 1;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	min-height: 400px;
}
.banner-left{
	margin-top: 15px;
	float:left;
	width: 300px;
	height: 150px;
}
.banner-info {
	width: 700px;
	margin: 100px auto 0 auto;
}
.banner-right{
	float:right;
}
.banner-right a{
	text-decoration:none;
	color:#000000;
	font-size:16px;
	font-weight:500;
	padding:12px 22px;
	border:2px solid #000000;
	margin-right: 11px;
 margin-left: 11px;
}
.banner-right a:hover {
	letter-spacing: 1.5px;
	background-color: #f2f2f2;
}
.banner-right h1{
	font-size:40px;
	font-weight:800;
	color:#000000;
	margin:35px 0 15px 0;
	letter-spacing: 10px;
}
.banner-right h2{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 300;
	color: #000000;
	margin: 15px 0 30px 0;
}
body{
	font-family: 'Roboto', sans-serif;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
body a:hover{
	text-decoration:none;
}
.border {
	background: #000000;
	width: 70%;
	margin: 0 auto;
	padding: 1px;
}
.box{
	position:absolute;
	top:-1000px;
	width:100%;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
}
.box_content_center{
	background:rgba(0, 0, 0, 0.22);
}
.boxclose span{
	width:58px;
	height:73px;
	display:inline-block;
	background: url(../images/into.png) no-repeat 0px 0px;
}
.button {
	border: 2px solid #000000;
	padding: 3px 5px 3px 5px;
	width: 34%;
	cursor:pointer;
	text-align:center;
	margin: 0 auto;
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight:700;
}
.button a {
	display:block;
	color:#000000;
}
.button:hover{
	background-color: #f2f2f2;
	width: 40%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact{
	font-family: 'Roboto', sans-serif;
	background:#ffffff;
	padding:60px 0 0 0;
	opacity: 0.9;
}
.contact h3 {
	margin: 0 auto;
	color: #000000;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 18px;
}
#contact-head {
	top: 0px;
}
.contactcontainer{
	color: black;
	height: 550px;
	font-size: 20px;
}
.contactheader{
	color: #000000;
	letter-spacing: 2px;
	font-size: 22px;
	margin-top: 5px;
}
.contactname{
	font-weight: 500;
	font-style: bold;
}
.down{
	margin-top: 50px;
}
#downarrow {
	width: 30px;
	height: 30px;
}
#face {
	border-radius: 50%;
	width: 70%;
	-webkit-transition: all 1s ease;
		 -moz-transition: all 1s ease;
			 -o-transition: all 1s ease;
			-ms-transition: all 1s ease;
					transition: all 1s ease;
}
form {
	width:100%;
	margin-top: 60px;
	margin: 0px;
}
.form_container {
	float: left;
}
.gallery-grid {
	padding: 10px;
	float: left;
	width: 33.3%; /*Height set dynamically with javaScript*/
}
.gallery-section h3{
	margin: 0;
	color: #000000;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 18px;
}
h1,h2,h4,h5,h6{
	margin:0 auto;	
	text-align: center;		   
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px !important;
	line-height: 20px;
	letter-spacing: 1px;
}
.head{
	text-align: center;
	margin-left: 5px; /* Each letter has its own right padding */
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}
.infocontainer{
	height: 550px;
	color: #000000;
	width: 50%;
	float: left;
	margin-top: 20px;
	font-family:'Roboto', sans-serif;
}
input {
	width:508px;
	height:27px;
	background:#f2f2f2;
	opacity: 0.95;
	border:1px solid #dedede;
	padding:20px;
	margin-top:3px;
	font-size: 14px;
	color:#3a3a3a;
}
.inputlabel{
	font-size: 16px;
	color: #000000;
	margin-bottom: 5px;
	letter-spacing: 0.5px;
	margin-top: 16px;
}
.input-field {
	font-size: 14px;
	width:100%;
	padding: 15px;
}
#input-message {
	height: 109px;
}
#input-submit {
	font-weight: 700;
	margin-top: 16px;
	width: 100%;
	max-width: 100px;
	border: 1px solid gray;
	text-align: center, margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 30px;
	color: black;
	background-color: #ffffff;
}
label {
	display:block;
	margin:20 0 0 0px;
	padding:0;
	font-weight: 300;
	font-size: 18px;
}
#more-projects{
	margin-top: 50px;
	width: 180px;
	padding: 15px;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}
#more-projects:hover{
	opacity: 0.9;
	width: 200px;
}
.menu_box_list{
	display: inline-block;
	padding: 30px 0;
}
.menu_box_list li a{
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-weight: 600;
}
.menu_box_list li a:hover{
	color:#f2f2f2;
	text-decoration: none;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
}
.menu_box_list ul li {
	display:inline-block;
	margin: 0 30px;
}
p{
	margin:0;
}
.port_img{
	/*height: 200px;*/
	width: 100%;
}
#portfolio p {
	font-family: 'Lato', sans-serif;
	line-height: 1.8em;
	margin: 25px 0 0 0;
	font-size: 18px;
	color: #000000;
	font-weight: 300;
}
.portfolio-section{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	min-height: 960px;
	/*background: url(../images/lights6.1.jpg) no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}
.right_bt span{
	width: 37px;
	height: 25px;
	display: block;
	background: url(../images/menu.png) no-repeat 0px 0px;
}
.row{
	margin-left:0;
	margin-right:0;
}
.sectiontitle {
	color: #000000;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 15px;
	height: 80px;
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: -30px;
}
.sectionsubtitle {
	color: #000000;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 15px;
	height: 80px;
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 0px;
}
.slide-down {
	left: 50%;
	transform: translateY(-50%);
	position: absolute;
	bottom: 10px;
	border-radius: 50%;
	border: 1px solid #000000;
	padding: 5px;
}
.social-media-image{
	width: 100%;
	height: 100%;
}
.strip {
	margin-top: 15px;
	margin-bottom: 15px;
}
.strip-image {
	width:100%;
	max-width: 252px;
}
#submit {
	height: 45px;
	width: 120px;
	font-size: 18px;
	margin-top: 20px;
}
textarea {
	height:153px;
	width:508px;
	background:#f2f2f2;
	opacity: 0.95;
	border:1px solid #dedede;
	padding:20px;
	margin-top:3px;
	font-size: 14px;
	color:#3a3a3a;
}
.top-nav{
	float:right;
}
.top-header{
	margin-top:28px;
}
ul{
	margin:45px 0 0 0;
	padding:0;
}
ul li{
	list-style-type:none;
	display:inline-block;
	margin:20px;
	width: 100px;
	height: 100px;
}
#uparrow {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
/*-- responsive media queries --*/
@media(min-width:1441px){
	.container {
		width: 1441px;
	}
	.gallery-section {
		padding: 70px 0 0px 0;
	}
/*	.textbox.description{
		font-size: 12px;
	}*/
}
@media(max-width:1440px){
	.about-back {
		min-height: 92px;
	}
	.banner.page-head {
		min-height: 115px;
	}
	.comment-icons ul li {
		margin: 12px 15px 12px 0;
	}
	.footer-top {
		min-height: 167px;
	}
	.gallery-section {
		padding: 70px 0 0px 0;
	}
}
@media(max-width:1366px){
	a.boxclose {
		right: 250px;
	}
	.about-back {
		min-height: 85px;
	}
	.client-back {
		min-height: 78px;
	}
	.contact-back {
		min-height: 69px;
	}
	.footer-top {
		min-height: 159px;
	}
	.my-skill-back {
		min-height: 77px;
	}
	.process-back {
		min-height: 74px;
	}
	.services-back {
		min-height: 71px;
	}
@media(max-width:1199px){
	a.boxclose {
		right: 160px;
	}
	.about-back {
		min-height: 79px;
	}
	.banner.page-head {
		min-height: 96px;
	}
	.banner-left{
		margin-top: 15px;
		float:left;
		width: 240px;
		height: 120px;
	}
	.banner-right{
		margin-top: 10px;
		float: right;
	}
	.banner-right a {
		font-size: 14px;
		padding: 12px 20px;
	} 
	.banner-right h1 {
		font-size: 30px;
		margin: 23px 0 15px 0;
	}
	.banner-right h2 {
		font-size: 45px;
	}
	.button {
		padding: 5px;
		width: 40%;
	}
	.button a {
		font-size: 15px;
	}
	.client-back {
		min-height: 70px;
	}
	.contact-back {
		min-height: 65px;
	}
	.description {
		font-size: 12px;
	}
	.footer-top {
		min-height: 147px;
	}
	.gallery-section {
		padding: 92px 0 0px 0;
	}
	.gallery-section h3 {
		font-size: 32px;
	}
	.logo {
		float: left;
		width: 13%;
	}
	.logo img{
	 width:100%;
	}
	#portfolio p {
		font-size: 16px;
	}
	.process-back {
		min-height: 69px;
	}
	.services-back {
		min-height: 66px;
	}
	.textbox h4 {
		font-size: 22px;
	}
}
@media(max-width:1024px){
	.about h3 {
		font-size: 32px;
	}  
	.about p {
		margin: 40px 0 0 0;
		font-size: 16px;
	}  
	.about ul {
		margin: 40px 0 0 0;
	} 
	.about-back {
		min-height: 64px;
	}
	.banner-left{
		margin-top: 15px;
		float:left;
		width: 240px;
		height: 120px;
	}
	.banner.page-head {
		min-height: 96px;
	}
	.banner-right{
		margin-top: 10px;
		float: right;
	}
	.banner-right a {
		font-size: 14px;
		padding: 12px 20px;
	}
	.banner-right h1 {
		font-size: 30px;
		margin: 23px 0 15px 0;
	}
	.banner-right h2 {
		font-size: 45px;
	}
	.button {
		padding: 3px;
		width: 40%;
		font-size:15px;
	}
	.contact-info h3 {
		font-size: 32px;
	}
	.description {
		font-size: 10px;
	}
	.gallery-section {
		padding: 120px 0 0px 0;
	}
	.gallery-section h3 {
		font-size: 30px;
	}
	.infocontainer{
		height: 500px;
		width: 50%;
		left: 50%;
		transform: translateX(-76%);
		margin-top: 20px;
	}
	#portfolio p {
		font-size: 14px;
	}
	.sectiontitle {
		font-weight: 500;
		font-size: 35px;
		letter-spacing: 13px;
		height: 80px;
		width: 100%;
		position: relative;
		margin-top: -30px;
	}
	.textbox h4 {
		font-size: 18px;
	}
}
@media(max-width:991px){
 .banner-info {
		width: 600px;
		margin: 100px auto 0 auto;
	}
	.textbox h4 {
		font-size: 14px;
	}
}
@media(max-width:900px){
	.description {
		font-size: 10px;
	}
}
@media(max-width:768px){
	a.boxclose {
		top: 25px;
		right: 68px;
	}
	.about {
		padding: 50px 0 15px 0;
	}
	.about h3 {
		font-size: 30px;
	}
	.about p {
		margin: 30px 0 0 0;
		font-size: 14px;
	}
	.about ul {
		margin: 30px 0 0 0;
	}
	.about-back {
		min-height: 48px;
	}
	.banner-info {
		width: 96%;
		margin: 80px auto 0 auto;
	}
	.banner-left {
		float: left;
		width: 32%;
	}
	.banner-left img {
		width: 100%;
	}
	.banner-right {
		float: right;
		width: 64%;
	}
	.banner-right h1 {
		font-size: 28px;
	}
	.banner-right h2 {
		font-size: 40px;
		margin: 15px 0 35px 0;
	}
	.border {
		width: 58%;
	}
	.boxclose span {
		width: 30px;
		height: 30px;
		background-size: 100% !important;
	}
	.contact-info h3 {
		font-size: 30px;
	}
	.contact {
		padding: 50px 0 0 0;
	}
	.contact-left {
		float: left;
		width: 34% !important;
	}
	.contact-right {
		float: right;
		width: 66% !important;
	}
	.contact-left ul li {
		font-size: 14px;
	}
	.contact-left ul li:nth-child(4) {
		margin: 10px 0;
	}
	.contact-left ul li:nth-child(6) {
		margin: 10px 0 0 0;
	}
	.contact-right input[type="text"] {
		width: 46.7%;
		padding: 6px 10px;
		font-size: 14px;
	}
	.contact-right textarea {
		height: 130px;
		font-size: 14px;
		padding: 6px 10px;
	}
	.contact-right form input[type="submit"] {
		background: url(../images/mess.png) no-repeat 37px 14px;
		font-size: 16px;
	}
	.description {
		font-size: 12px;
	}
	.footer-top {
		min-height: 90px;
	}
	.gallery-grid {
		width: 50%;
	}
	.gallery-section {
		padding: 90px 0 0px 0;
	}
	.gallery-section h3 {
		font-size: 18px;
	}
	.menu_box_list li a {
		font-size: 14px;
	}
	.menu_box_list ul li {
		margin: 0 5px;
	}
	#portfolio p {
		font-size: 14px;
	}
	.portfolio-section{
		min-height: 1050px;
	}
	.textbox h4 {
		font-size: 20px;
	}
	.sectiontitle {
		font-size: 26px;
	}
}
@media(max-width:640px){
	.about-back {
		min-height: 39px;
	}
	.banner {
		min-height: 393px;
	}
	.banner-info {
		margin: 60px auto 0 auto;
	}
	.banner-right a {
		padding: 9px 15px;
	}
	.banner-right h1 {
		font-size: 26px;
	}
	.banner-right h2 {
		font-size: 35px;
	}
	.contact-left {
		float: left;
		width: 39% !important;
	}
	.contact-left ul li:nth-child(4) {
		margin: 3px 0;
	}
	.contact-left ul li:nth-child(6) {
		margin: 3px 0 0 0;
	}
	.contact-right {
		float: right;
		width: 61% !important;
	}
	.contact-right form input[type="submit"] {
		height: 45px;
		width: 41%;
		background: url(../images/mess.png) no-repeat 26px 11px;
	}
	.contact-right input[type="text"] {
		width: 100%;
		padding: 6px 10px;
		font-size: 14px;
	}
	.description {
		font-size: 10px;
	}
	.footer-top {
		min-height: 75px;
	}
	.gallery-grid {
		width: 50%;
	}
	.logo {
		float: left;
		width: 17%;
	}
	.menu_box_list ul li {
		display: block;
		padding: 10px 0;
	}
	.my-skill-back {
		min-height: 35px;
	}
	.portfolio-section{
		min-height: 1050px;
	}
	.textbox h4 {
		font-size: 14px;
	}
}
@media(max-width:480px){
	.about h3 {
		letter-spacing: 11px;
		font-size: 28px;
	}
	.about p {
		margin: 22px 0 0 0;
		font-size: 13px;
	}
	.banner-right {
		float: right;
		width: 70%;
	}
	.banner {
		min-height: 352px;
	}
	.banner-info {
		width: 100%;
	}
	.banner-left {
		float: left;
		width: 30%;
	}
	.banner-right h1 {
		margin: 8px 0 15px 0;
		font-size: 20px;
		letter-spacing: 10px;
	}
	.banner-right h2 {
		font-size: 30px;
		margin: 10px 0 28px 0;
	}
	.button a {
		font-size: 13px;
	}
	.description {
		font-size: 12px;
	}
	.gallery-grid {
		width: 100%;
	}
	.gallery-section {
		padding: 54px 0 0px 0;
	}
	.logo {
		float: left;
		width: 23%;
	}
	.my-skills h3 {
		letter-spacing: 11px;
		font-size: 28px;
	}
	.my-skill-back {
		min-height: 27px;
	}
	#portfolio p {
		font-size: 13px;
	}
	.portfolio-section{
		min-height: 1700px;
	}
	.skills-grid {
		width: 50% !important;
		float: left;
	}
	.skills-grid p {
		font-size: 13px;
	}
	.skills-grid:nth-child(1), .skills-grid:nth-child(2), .skills-grid:nth-child(3), .skills-grid:nth-child(4) {
		margin-bottom: 30px;
	}
	.textbox h4 {
		font-size: 18px;
	}
	.work-info h3,.ser-info h3,.gallery-section h3,.process h3,.testimonials h3 ,.blog-info h3,.contact-info h3,.sam-head h3{
		font-size: 28px;
		letter-spacing: 11px;
	}
}
@media(max-width:320px){
	.about-back {
		min-height: 19px;
	}
	.banner {
		min-height: 231px;
	}
	.banner.page-head {
		min-height: 66px;
	}
	.banner-info {
		margin: 38px auto 0 auto;
	}
	.banner-right a {
		font-size: 13px;
		padding: 5px 4px;
	}
	.banner-right h1 {
		margin: 8px 0 8px 0;
		font-size: 16px;
		letter-spacing: 5px;
	}
	.banner-right h2 {
		font-size: 18px;
		margin: 6px 0 14px 0;
	}
	.button {
		padding: 5px;
		width: 46%;
		margin: 5px auto 0 auto;
	}
	.col-md-4.sample-page-right {
		padding: 0;
	}
	.col-md-7.contact-right {
		margin-top: 30px;
	} 
	.contact {
		padding: 40px 0;
	} 
	.contact-back {
		min-height: 15px;
	}
	.contact-grids {
		margin-top: 25px;
	}
	.contact-left {
		float: left;
		width: 100% !important;
	}
	.contact-right {
		float: right;
		width: 100% !important;
		padding: 0;
	}
	.contact-right form input[type="submit"] {
		width: 100%;
		background: url(../images/mess.png) no-repeat 81px 11px;
	}
	.contact-right input[type="text"] {
		margin: 0 0px 21px 0;
	}
	.description {
		font-size: 10px;
	}
	.footer p {
		font-size: 13px;
	}
	.gallery-grid {
		width: 100%;
	}
	img.pro-img {
		display: block;
	}
	img.pro-imga, img.pro-imgb {
		display: none;
	}
	.logo {
		float: left;
		width: 35%;
	}
	.menu_box_list ul li {
		display: block;
		padding: 4px 0;
	}
	.my-skill-back {
		min-height: 17px;
	}
	.portfolio-section{
		min-height: 1700px;
	}
	.process-back {
		min-height: 16px;
	}
	.skills-grid {
		width: 100% !important;
	}
	.skills-grid:nth-child(1), .skills-grid:nth-child(2), .skills-grid:nth-child(3), .skills-grid:nth-child(4), .skills-grid:nth-child(5)  {
		margin-bottom: 30px;
	}
	.test-banner {
		width: 90%;
		margin: 27px auto 0 auto;
		padding: 30px 27px;
	}
	.test-banner img.quo {
		position: absolute;
		top: 79%;
		left: 37%;
	}
	.test-banner img.quoa {
		position: absolute;
		top: 55%;
		left: 9%;
	}
	.test-left {
		float: left;
		width: 100%;
	}
	.test-right {
		float: right;
		width: 100%;
	}
	.test-right p {
		margin: 22px 0 16px 0;
	}
	.textbox h4 {
		font-size: 14px;
	}
	.work-info h3, .ser-info h3, .gallery-section h3, .process h3, .testimonials h3, .blog-info h3, .contact-info h3, .sam-head h3 {
		font-size: 21px;
		letter-spacing: 5px;
	}
}
/*-- responsive media queries --*/
